/* Will be compiled down to a single stylesheet with your sass files */

#popup {
    /* Defaults css for cssmin process */
    width: 160px;
}

.copy2bord-container .list-group, .copy2bord-container h5{
	margin: 0px;
}

input.input-url{
    position: absolute;
    top: -9999px;
}
