<!DOCTYPE html>
<html ng-app ng-csp>
    <head>
        <!-- build:css(.tmp) styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
        <!-- build:css({.tmp,app}) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
    </head>
    <body ng-controller="optionCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 section-wrapper">
                    <h1 id="glyphicons" class="page-header">Copy Title Url Pattern</h1>
                    <div class="alert alert-info">
                        <strong>mention!</strong> You can setup copy title url pattern but keep <strong>title, url</strong> keyword.
                    </div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputPattern" class="col-sm-2 control-label ">Pattern</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="pattern" class="form-control" placeholder="Title Url Pattern">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTestURL" class="col-sm-2 control-label">url</label>
                            <div class="col-sm-10">
                                <input type="text" ng-disabled="true" ng-model="url" class="form-control" placeholder="url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTestURL" class="col-sm-2 control-label">title</label>
                            <div class="col-sm-10">
                                <input type="title" ng-disabled="true" ng-model="title" class="form-control" placeholder="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" ng-click="resetDefault()" class="btn btn-danger">Reset Default</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 section-wrapper">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputPattern" class="col-sm-2 control-label ">Keyboard Shortcut</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="shortcut.enabled"> Enabled
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="text" class="form-control" placeholder="shortcut" ng-model="commandShortcut" ng-readonly="true">
                                <p class="help-block">
                                You can modify shortcut in <a href="#" ng-click="open()">Keyboard shortcuts</a> in the bottom of Chrome extension.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="radio" ng-repeat="action in actions">
                                    <label>
                                        <input type="radio" ng-value="action.id" ng-model="shortcut.id" ng-disabled="!shortcut.enabled">
                                        {{action.description}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 id="list-group-badges">Copy text Preview</h3>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="action in actions">
                            {{action.description}} ->
                            <span class="text-success">{{ preview(action) ||'loading...'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- build:js(app) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/option.js -->
        <script type="text/javascript" charset="utf-8" src='scripts/option.js'></script>
        <!-- endbuild -->
    </body>
</html>